

<div class="wrapper">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/aro-oS8vcvs" frameborder="0" allowfullscreen></iframe>

        <header>
            <nav>
                <ul>
                    <!--
                --><% @users = User.where.not(id: current_user.id) %>
					<% @users.each do |user| %>
                    <li><%= link_to(user)do%><%=image_tag "forum-user.png"%><p>#<%= user.id - 1 %></p><%end%></li>
                    <% end %>
                    <!--
            -->
                </ul>
            </nav>

        </header>

    </div>